/* POPPINS FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* ====== BASE ===== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* ====== Body ===== */
body{
  background: url('/css/image/background.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0 20px;
}

/* ====== Form container ===== */
.form-conteiner{
  display: flex;
  width: 100vw;
  height: 600px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  backdrop-filter: blur(20px);


}

/* ====== First Column ===== */


/* ====== Form Image Animation ===== */


/* ====== Featured Words ===== */


/* ====== Second Column ===== */


/*  ======= Login Form ========  */


/*  ======= Register Form ========  */


/* ======== Responsive ======== */
